.search-result {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  &-link {
    color: black;
    text-decoration: none;
    margin-top: 5px;
  }

  &-title {
    text-transform: capitalize;
  }
}